@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap');
* {
	font-family: 'Overpass', sans-serif;
}
body, .row, ul, ol, p {
	list-style: none;
	text-decoration: none !important;
	margin: 0px;
	padding: 0px;
	font-family: 'Overpass', sans-serif;
}
img {
	display: block;
	max-width: 100%;
}
a:hover {
	text-decoration: none;
}
*:focus {
	outline: none !important
}
.innerHeader {border-bottom: 1px solid rgb(112 112 112 / 20%);}

.menuContainerMain ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0px;
    max-width: max-content;
}

.menuContainerMain a {
    padding: 20px 10px;
    display: block;
    color: #000;
}

.innerHeader .row {
    align-items: center;
}

.menuContainerMain {
    /* max-width: max-content; */
}

.container {width: 100%;max-width: 1440px;}
.sectionAbout {
    background-size: contain;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
}

.sectionAbout .row {
    height: 100%;
    /* background: red; */
    min-height: 600px;
}

.rightAboutSU {
    margin-top: auto;
    height: max-content;
    max-height: max-content;
    display: block;
    /* display: flex; */
    max-width: 450px;
    margin-left: auto;
    margin-top: auto;
}

.buttonBlack {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    padding: 11px 44px;
    margin: 30px 0px 0px;
    border: 2px solid #000;
    transition: 0.5s all;
    font-weight: 600;
    font-size: 15px;
}

.buttonBlack:hover {
    background: none;
    color: #000;
}

.subHeading {
    font-size: 24px;
    color: #000;
    opacity: 0.5;
    font-weight: 500;
}
.heading {
    font-weight: 600;
    font-size: 54px;
}

.displayFlex {
    display: flex;
    flex-wrap: wrap;
}

.justifyB {
    justify-content: space-between;
}

.maxW {
    max-width: max-content;
}

.leftAbout li a {
    display: block;
    margin-right: 20px;
    color: #000;
    font-size: 20px;
    opacity: 0.5;
}

.leftAbout ul {
    margin: 20px 0px 0px;
}

.leftAbout li a:hover {
    opacity: 1;
}

.sectionAbout .col-md-6:last-child {
    display: flex;
}

.rightAboutSU p {
    color: #707070;
    font-weight: 300;
}